!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}

    = css :application

    %script{:type => "text/javascript", :src => 'http://maps.googleapis.com/maps/api/js?sensor=true'}
    = js :application

  %body
    %h2= 'Hello RHoK!'